# osx
.DS_Store
.AppleDouble
.LSOverride
._*
Icon

# rubymine
.idea

# ruby
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

